/*
* -----------------------------------------------------------------------------
* TYPOGRAPHY
*-----------------------------------------------------------------------------
*/

$browser-context: 16;
$main-font: 'Inconsolata', monospace;

$regular: 400;
$bold: bold;

/*
* -----------------------------------------------------------------------------
* COLORS
*-----------------------------------------------------------------------------
*/

$black: #1d1f21;
$white: white;

/*
* -----------------------------------------------------------------------------
* RESPONSIVE
*-----------------------------------------------------------------------------
*/

$mobile: 767px;
$tablet: 991px;
