/*
* -----------------------------------------------------------------------------
* TYPOGRAPHY
*-----------------------------------------------------------------------------
*/

@font-face {
    font-family: 'Futura';
    src: url("/assets/fonts/FuturaStd-Bold.otf") format("otf");
}

@font-face {
    font-family: 'Roboto';
    src: url("/assets/fonts/Roboto-Regular.ttf") format("ttf");
}

$main-font: 'Futura', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$regular: 400;
$bold: bold;

/*
* -----------------------------------------------------------------------------
* COLORS
*-----------------------------------------------------------------------------
*/

$black: #1d1f21;
$white: #FFFFFF;
$yellow: #FFCF2A;

/*
* -----------------------------------------------------------------------------
* RESPONSIVE
*-----------------------------------------------------------------------------
*/

$mobile: 767px;
$tablet: 991px;
$desktop: 992px;