/*
* -----------------------------------------------------------------------------
* COMPONENT : FORM
*-----------------------------------------------------------------------------
*/

.filters__group input[type="radio"] {
    display: none;

    + label {
        cursor: pointer;
        padding-left: 20px;

        span {
            display: inline-block;
            width: 15px;
            height: 15px;
            margin: -1px 4px 0 0;
            vertical-align: middle;
            cursor: pointer;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background-color: $white;
            border: 1px solid $black;
        }
    }

    &:checked {
        + label {
            span {
                background-color: $black;
            }
        }
    }
}

