/*
* -----------------------------------------------------------------------------
* COMPONENT : HEADER
*------------------------------------------------------------------------------
*/

@include block('header') {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    background-color: $white;
    z-index: 2;

    @include block('menu') {
        display: flex;
        justify-content: space-between;

        @include element('item') {
            text-decoration: none;

            @include modifier('current') {
                color: $yellow;
            }
        }
    }
}