/*
* -----------------------------------------------------------------------------
* COMPONENT : SIDEBAR
*-----------------------------------------------------------------------------
*/

@include block('sidebar') {
    display: inline-block;
    position: fixed;
    height: 100vh;
    width: 25%;
    padding: 0 40px;

    @media screen and (max-width: $tablet) {
        position: static;
        display: none;
    }

    @include block('filters') {

        @include element('label') {
            display: block;
            font-size: 1.5em;
            line-height: 1.5;
            font-weight: $bold;
        }

        @include element('group') {
            display: flex;
            flex-direction: column;
        }
    }
}