/*
* -----------------------------------------------------------------------------
* LAYOUT : HOME
*-----------------------------------------------------------------------------
*/

@include block('page-home') {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0;
}