/*
* -----------------------------------------------------------------------------
* LAYOUT : TIMELINE
*-----------------------------------------------------------------------------
*/

@include block('page-timeline') {
    display: flex;
}

@include block('listing-events') {
    width: 100%;
    margin: 0 auto;
}